<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script data-main="js/commonjs-method/init" src="js/lib/require.js"></script>    
  </head>
  <body>
    <%- body %>
  </body>
</html>