<% include header.ejs %>
	<div class="pt_product-search-result" id="wrapper">
    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">CLP</h1>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">CLP</li>
          </ol>
        </div>
      </div><!-- /.row -->

      
      <hr />
      <div class="row">      
        <div class="col-lg-3">
          <div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Panel heading</div>
		  <!-- List group -->
		  <ul class="list-group">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Morbi leo risus</li>
		    <li class="list-group-item">Porta ac consectetur ac</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>
          <div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Panel heading</div>
		  <!-- List group -->
		  <ul class="list-group">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Morbi leo risus</li>
		    <li class="list-group-item">Porta ac consectetur ac</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>
          <div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Panel heading</div>
		  <!-- List group -->
		  <ul class="list-group">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Morbi leo risus</li>
		    <li class="list-group-item">Porta ac consectetur ac</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		</div>          
        </div>
        <div class="col-lg-9">
          <div class="row">      
	        <div class="col-lg-12">
	          <img src="http://placehold.it/1200x150" class="img-responsive">
	        </div>       
	      </div>
	      <hr>
          <div class="row">
	        <div class="col-md-4 portfolio-item">
	          <a href="portfolio-item.html"><img src="http://placehold.it/700x400" class="img-responsive"></a>
	          <h3><a href="portfolio-item.html">Project Name</a></h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	        </div>
	
	        <div class="col-md-4 portfolio-item">
	          <a href="portfolio-item.html"><img src="http://placehold.it/700x400" class="img-responsive"></a>
	          <h3><a href="portfolio-item.html">Project Name</a></h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	        </div>
	
	        <div class="col-md-4 portfolio-item">
	          <a href="portfolio-item.html"><img src="http://placehold.it/700x400" class="img-responsive"></a>
	          <h3><a href="portfolio-item.html">Project Name</a></h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	        </div>
	      </div>
	      <div class="row">
	        <div class="col-md-4 portfolio-item">
	          <a href="portfolio-item.html"><img src="http://placehold.it/700x400" class="img-responsive"></a>
	          <h3><a href="portfolio-item.html">Project Name</a></h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	        </div>
	
	        <div class="col-md-4 portfolio-item">
	          <a href="portfolio-item.html"><img src="http://placehold.it/700x400" class="img-responsive"></a>
	          <h3><a href="portfolio-item.html">Project Name</a></h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	        </div>
	
	        <div class="col-md-4 portfolio-item">
	          <a href="portfolio-item.html"><img src="http://placehold.it/700x400" class="img-responsive"></a>
	          <h3><a href="portfolio-item.html">Project Name</a></h3>
	          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
	        </div>
	      </div>
        </div>       
      </div>
      

      <hr>


    </div><!-- /.container -->
	</div>
    <% include footer.ejs %>